.footer__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
