/* purgecss start ignore */
@tailwind base;

@tailwind components;

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.multi-select {
  --rmsc-border: black !important;
  --rmsc-spacing: 0.5rem !important;
  --rmsc-border-radius: 0 !important;
  --rmsc-height: 24px !important;
}

.multi-select .dropdown-container {
  @apply p-1;
}
/* purgecss end ignore */

@tailwind utilities;
